header {
	position: fixed;
	height: 50px;
	background-color: @c3;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	right: 0;
}

#layout {
	padding-top: 50px;
	display: flex;
	flex-direction: row;

	aside {
		width: 350px;
	}

	.content {
		flex: 1;
	}
}
